<div class="row">
    <div class="col-sm border border-primary m-2 p-2">
        <h3>String Pipes</h3>
        <div>Original : {{strData}}</div>
        <div>lowercase : {{strData|lowercase}}</div>
        <div>uppercase : {{strData|uppercase}}</div>
        <div>titlecase : {{strData|titlecase}}</div>
    </div>
    <div class="col-sm border border-primary m-2 p-2">
        <h3>Number Pipe</h3>
        <div>Original : {{numData}}</div>
        <div>1.0-0 : {{numData|number:'1.0-0'}}</div>
        <div>2.0-0 : {{numData|number:'2.0-0'}}</div>
        <div>3.0-0 : {{numData|number:'3.0-0'}}</div>
        <div>4.1-1 : {{numData|number:'4.1-1'}}</div>
        <div>4.1-2 : {{numData|number:'4.1-2'}}</div>
        <div>4.2-3 : {{numData|number:'4.2-3'}}</div>
        <div>4.3-3 : {{numData|number:'4.3-3'}}</div>
        <div>4.4-4 : {{numData|number:'4.4-4'}}</div>
    </div>
</div>

<div class="row">
    <div class="col-sm border border-primary m-2 p-2">
        <h3>Currency Pipe</h3>
        <div>Original : {{numData}}</div>
        <div>Indian Rupee: {{numData|currency:'INR'}}</div>
        <div>US Dollar: {{numData|currency:'USD'}}</div>
        <div>Great Britan Pound: {{numData|currency:'GBP'}}</div>
        <div>Austalian Dollar: {{numData|currency:'AUD'}}</div>
        <div>Japan Yan: {{numData|currency:'JPY'}}</div>
        <div>Unknown: {{numData|currency:'XYZ'}}</div>
    </div>
    <div class="col-sm border border-primary m-2 p-2">
        <h3>Date Pipe</h3>
        <div>Original: {{dateData}}</div>
        <div>{{dateData|date:'short'}}</div>
        <div>{{dateData|date:'long'}}</div>
        <div>{{dateData|date:'dd-MM-yy'}}</div>
        <div>{{dateData|date:'dd-MMM-yyyy'}}</div>
        <div>{{dateData|date:'dd-MMMM-yyyy hh:mm:ss a'}}</div>
        <div>{{dateData|date:'dd-MMMM-yyyy HH:mm:ss'}}</div>
    </div>
</div>