/* You can add global styles to this file, and also import other style files */
body{
    background-color: #ffaaff;
}

*{
    margin:0px;
    padding:0px;
}

.box{
    margin:5px;
    padding:10px;
    border-radius: 10px;
}