<div class="col-sm-8 mx-auto">
    <h3>Consumers </h3>

    <div class="alert alert-info p-4 fw-bold" *ngIf="!errMsg && !consumers">
        Please wait while loading data...
    </div>

    <div class="alert alert-info p-4 fw-bold" *ngIf="consumers && consumers.length==0">
        No consumer records found
    </div>

    <div class="alert alert-danger p-4 fw-bold" *ngIf="errMsg">
        {{errMsg}}
    </div>

    <table class="table table-bordered table-striped" *ngIf="consumers && consumers.length>0">
        <thead>
            <tr>
                <th>Consumer#</th>
                <th>FullName</th>
                <th>Email</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let c of consumers">
                <td>{{c.consumerId}}</td>
                <td>{{c.fullName}}</td>
                <td>{{c.mailId}}</td>
                <td>
                    <a class="btn btn-info btn-sm me-2" [routerLink]="['/editConsumer',c.consumerId]">EDIT</a>
                    <button class="btn btn-danger btn-sm" (click)="doDelete(c.consumerId)">DELETE</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>